.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* Input styles */
.form__input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 32px; /* Adds 8px space between placeholder and next element */
  border: 1px solid #838383; /* Border color */
  border-radius: 4px; /* Rounded corners */
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px; /* Input font size */
  line-height: 30px; /* Input line height */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-style: normal;
  font-weight: normal;
}

.form__button {
  width: 100%;
  background-color: #1878dc; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* Button font size */
  line-height: 20px; /* Button line height */
  margin-bottom: 32px;
  margin-top: 0; /* Space above button */
  padding: 20px 0;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3; /* Hover state color */
  opacity: 70%;
}

/* Common label styles */
.form__label {
  display: flex;
  align-items: center; /* Align checkbox and text */
  justify-content: center;
  gap: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* Label font size */
  line-height: 20px; /* Label line height */
  color: #000; /* Main font color */
  margin: 0 0 8px 0; /* Margin around label */
}

/* Specific styles for checkbox label (modifier) */
/* Flex container to align checkbox and label in a row */
.form__label_type_checkbox {
  gap: 8px; /* Optional: adds space between the checkbox and the label */
  margin-bottom: 0; /* Remove the bottom margin for the checkbox label */
}

/* Adjust the checkbox size and margin */
.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px; /* Space between checkbox and label */
  border-radius: 2px;
}
