.form {
  max-width: 385px;
  margin: 0 auto; /* Center the form */
  padding: 0; /* Remove default padding */
}

/* Fieldset styles to remove default browser styling */
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Input styles */
.form__input {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0 32px; /* Space between inputs */
  border: 1px solid #838383; /* Border color */
  border-radius: 4px; /* Rounded corners */
  font-family: Inter, sans-serif; /* Font family */
  font-size: 16px; /* Input font size */
  line-height: 20px; /* Input line height */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form__button {
  width: 100%;
  background-color: #1878dc; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter, sans-serif; /* Font family */
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* Button font size */
  line-height: 20px; /* Button line height */
  margin-bottom: 32px;
  margin-top: 20px; /* Space above button */
  padding: 20px 0;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3; /* Hover state color */
}

/* Common label styles */
.form__label {
  display: flex;
  align-items: center; /* Align checkbox and text */
  gap: 12px;
  font-family: Inter, sans-serif; /* Font family */
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* Label font size */
  line-height: 20px; /* Label line height */
  color: #000; /* Main font color */
  margin: 0 0 8px 0; /* Margin around label */
}
/* Specific styles for checkbox label (modifier) */
/* Flex container to align checkbox and label in a row */
.form__label_type_checkbox {
  display: flex;
  align-items: center; /* Vertically align the checkbox and label */
  gap: 8px; /* Optional: adds space between the checkbox and the label */
}

/* Adjust the checkbox size and margin */
.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Space between checkbox and label */
}
