/* Header */
.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  align-items: stretch; /* Aligns content to stretch across the width */
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  z-index: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}
/* Description Text */
.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  max-width: 580px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  z-index: 2;
  max-width: 683px;
}

/* Main Heading "in the Triple Peaks Library" */
.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  z-index: 2; /* Keep the 80px left margin for the whole title */
  text-align: left; /* Ensure text is left-aligned */
}

/* Span for "Specialty coffee" */
.header__span-accent {
  color: #3f96f3;
  font-style: italic; /* Italic style */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 60px; /* Match font size with the rest of the heading */
  line-height: 72px; /* Ensure the same line height */
  margin-left: 0; /* No additional margin needed here */
  display: inline; /* Keep the span inline so it aligns with the rest */
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  align-items: end; /* Align the block with 80px left margin */
  margin-bottom: 40px; /* Provide 40px space below the block */
}

.header__paragraph {
  margin: 0;
  color: #838383;
}
