/* Header */
.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  align-items: stretch; /* Aligns content to stretch across the width */
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
/* Description Text */
.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  max-width: 580px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
}

/* Main Heading "in the Triple Peaks Library" */
.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
}

.header__span-accent {
  color: #3f96f3;
  display: block; /* Optional: if you want it to take up its line */
  font-style: italic; /* Apply italic style to the text */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal; /* Apply the same font weight */
  font-size: 60px; /* Ensure the same font size */
  line-height: 72px; /* Ensure the same line height */
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  align-items: end;
}

.header__paragraph {
  margin: 0;
  color: #838383;
}
