/* Menu Section */
.menu {
  padding: 100px 0; /* Keep the padding */
  text-align: center;
  margin: 0 auto; /* Center the entire menu section */
  background-image: url("../images/background_menu.svg"); /* Path to your background image */
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background covers the section */
  background-position: center; /* Center the background image */
}

.menu__title {
  text-align: center;
  font-family: "Inter", sans-serif; /* Added */
  font-style: normal; /* Added */
  font-weight: 500;
  font-size: 44px; /* Updated */
  line-height: 52px; /* Added */
  margin: 0 0 24px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  max-width: 780px; /* Adjusted max-width to match the reference */
  line-height: 1.5; /* This will add spacing between the lines */
  margin: 0 auto 100px; /* Center the text and maintain the bottom margin */
  font-family: "Noto Serif", serif; /* Added */
  font-style: normal; /* Added */
  font-weight: normal; /* Added */
  font-size: 20px; /* Updated */
  line-height: 30px; /* Added */
}

.menu__cards {
  display: flex;
  justify-content: center; /* Use center instead of space-between */
  gap: 100px; /* This will ensure there is space between categories */
  flex-wrap: wrap; /* Allow the cards to wrap as needed */
  padding: 0;
  margin: 0;
  list-style-type: none;
}
