/* Navigation Menu */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  width: 100%;
}

.nav__logo {
  display: flex;
  height: 39px; /* Sets the height as per the design */
  width: 105px; /* Sets the width as per the design */
  filter: brightness(0) invert(0); /* Ensures the logo color is black */
  left: -50px; /* Sets fixed 30px space from the left */
  /* Sets fixed 30px space from the top */
  position: relative; /* Keep this if you need further positioning adjustments */
}

/* Navigation Links */
.nav__links {
  display: flex;
  gap: 20px; /* Space between navigation links */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.3s ease; /* Opacity transition added */
  opacity: 1; /* Default opacity */
  color: #000000;
  text-decoration: none; /* Removes the underline from the links */
}

.nav__link:hover {
  color: #2f80ed; /* Hover effect color */
  opacity: 0.5; /* Change opacity to 50% on hover */
}
