/* Reservation Section */
.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff; /* Background color */
  text-align: center; /* Center the content */
  background-image: url("../images/background_reservation.svg"); /* Add the path to your image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-size: cover; /* Cover the entire section */
}

/* Main title styling */
/* Style for the form heading */
.reservation_title {
  text-align: center; /* Center the text */
  font-family: "Inter", "Arial", sans-serif; /* Use the same font as the form */
  font-size: 32px; /* Adjust the font size */
  line-height: 40px; /* Adjust line height for better spacing */
  margin-top: 100px; /* Ensure the heading has the correct spacing from the top */
  margin-bottom: 80px; /* Ensure spacing between the heading and the form */
}

.reservation__form {
  margin: 0 auto; /* Center the form */
  max-width: 385px; /* Ensure form width is set */
  padding: 20px; /* Add some padding for spacing */
  border: none; /* Remove the border */
  border-radius: 4px; /* Rounded corners */
}
