/* Reservation Section */
.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff; /* Background color */
  text-align: center; /* Center the content */
  background-image: url("../images/background_reservation.svg"); /* Add the path to your image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-size: cover; /* Cover the entire section */
}

/* Main title styling */
.reservation__title {
  font-family: Inter, sans-serif; /* Font family */
  font-style: normal;
  font-weight: 500;
  font-size: 44px; /* Title font size */
  line-height: 52px; /* Title line height */
  text-align: center; /* Center align text */
  padding: 100px 0px 80px 0;
  color: #000; /* Title color */
}

.reservation__form {
  margin: 0 auto; /* Center the form */
  max-width: 385px; /* Ensure form width is set */
  padding: 20px; /* Add some padding for spacing */
  border: none; /* Remove the border */
  border-radius: 4px; /* Rounded corners */
}
